@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form input[type="text"], form input[type="email"], form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    outline: none;
    transition: all 0.3s ease;
}

form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transform: scale(1.05);
}

form textarea {
    border-radius: 20px;
}

form button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(90deg, #c850c0, #4158d0);
    color: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
}

form button:hover {
    background-position: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}